# SPDX-FileCopyrightText: 2025 Chen Linxuan <me@black-desk.cn>
#
# SPDX-License-Identifier: MIT

[submodule ".format"]
	path = .format
	url = https://github.com/black-desk/.format
[submodule "aerc-feedstock"]
	path = third_party/aerc
	url = https://github.com/black-desk/aerc-feedstock.git
	branch = osx_arm64
[submodule "korgalore_staged-recipes"]
	path = third_party/korgalore
	url = https://github.com/black-desk/staged-recipes.git
	branch = korgalore
[submodule "conda-forge-pinning-feedstock"]
	path = third_party/conda-forge-pinning
	url = https://github.com/conda-forge/conda-forge-pinning-feedstock.git
	branch = main
[submodule "git-subtree_staged-recipes"]
	path = third_party/git-subtree
	url = https://github.com/black-desk/staged-recipes
	branch = git-subtree
[submodule "git-contacts_staged-recipes"]
	path = third_party/git-contacts
	url = https://github.com/black-desk/staged-recipes
	branch = git-contacts
[submodule "cloc_staged-recipes"]
	path = third_party/cloc
	url = https://github.com/black-desk/staged-recipes
	branch = cloc
